.formact-alert {
    width: 85%;
    margin-bottom: 10px;
    margin-top: 20px;
}

.ui-alert {
    background-color: #F2DEDE;
    padding: 20px;
    border-radius: 5px;
    
}

.ui-alert-title {
    color: #AF4341;
    font-weight: bold;
    font-size: 15px;
}

.ui-alert-message {
    color: #AF4341;
}