<html ng-app="listaTelefonica">
    <head>
        <meta charset="UTF-8">
        <title>Lista Telefonica</title>
        <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/app.css">
        <link rel="stylesheet" type="text/css" href="css/ui.css">
        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular/angular-route.js"></script>
        <script src="lib/angular/angular-messages.js"></script>
        <script src="lib/angular/angular-locale_pt-br.js"></script>
        <script src="lib/ui/ui.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers/listaTelefonicaCtrl.js"></script>
        <script src="js/services/contatosAPIService.js"></script>
        <script src="js/services/operadorasAPIService.js"></script>
        <script src="js/const/configValue.js"></script>
        <script src="js/filters/nameFilter.js"></script>
        <script src="js/filters/ellipsisFilter.js"></script>
        <script src="js/directives/uiAlertDirective.js"></script>
        <script src="js/directives/uiDateDirective.js"></script>
        <!--<script src="js/directives/uiAccordionDrirective.js"></script>-->
    </head>
    <body ng-controller="listaTelefonicaCtrl">
        <div class="jumbotron">
            <center>

                <ui-accordions>
                    <ui-accordion title="Accordion 1"> 
                        Lorem ipsum dolor sit amet, consectetur 
                        adipisicing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud 
                        exercitation ullamco laboris nisi ut 
                        aliquip ex ea commodo consequat. Duis 
                        aute irure dolor in reprehenderit in 
                        voluptate velit esse cillum dolore eu 
                        fugiat nulla pariatur. Excepteur sint 
                        occaecat cupidatat non proident, sunt 
                        in culpa qui officia deserunt mollit 
                        anim id est laborum.
                    </ui-accordion>
                    <ui-accordion title="Accordion 2"> 
                        Lorem ipsum dolor sit amet, consectetur 
                        adipisicing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud 
                        exercitation ullamco laboris nisi ut 
                        aliquip ex ea commodo consequat. Duis 
                        aute irure dolor in reprehenderit in 
                        voluptate velit esse cillum dolore eu 
                        fugiat nulla pariatur. Excepteur sint 
                        occaecat cupidatat non proident, sunt 
                        in culpa qui officia deserunt mollit 
                        anim id est laborum.
                    </ui-accordion>
                </ui-accordions>
                
                <!--<h4 ng-bind="app"></h4>-->
                <h3>{{app}}</h3>

                <!--<ui-alert title="Ops, aconteceu um problema!" message="error"></ui-alert>-->
                <ui-alert title="Ops, aconteceu um problema!" ng-if="error">
                    {{error}}
                </ui-alert>

                <div class="align-margin">
                    <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?"/>
                    <table class="table" ng-show="contatos.length > 0">
                        <tr>
                            <th></th>
                            <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
                            <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
                            <th><a href="" ng-click="ordenarPor('operadora')">Operadora</a></th>
                            <th><a href="" ng-click="ordenarPor('data')">Data</a></th>
                        </tr>
                        <tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos| filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                            <td><input type="checkbox" ng-model="contato.selecionado"/></td>
                            <td>{{contato.nome| name | ellipsis: 10}}</td>
                            <td>{{contato.telefone}}</td>
                            <td>{{contato.operadora.nome| lowercase}}</td>
                            <td>{{contato.data| date:'MMMM EEEE dd/MM/yyyy HH:mm'}}</td>
                        </tr>
                    </table>
                    <hr/>
                    <form name="contatoForm">
                        <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-minlength="10" ng-required="true"/>
                        <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
                        <input class="form-control" type="text" ng-model="contato.data" name="data" placeholder="Data" ui-date/>
                        <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras| orderBy: 'nome'">
                            <option value="">Selecione uma operadora</option>
                        </select>
                    </form>
                    <div ng-show="contatoForm.nome.$dirty" ng-messages="contatoForm.nome.$error" class="alert alert-danger">
                        <div ng-message="required">
                            Por favor, preencha o nome!
                        </div>
                        <div ng-message="minlength">
                            O campo deve ter no mínimo 10 caracteres!
                        </div>
                    </div>
                    <div ng-show="contatoForm.telefone.$dirty" ng-messages="contatoForm.telefone.$error" class="alert alert-danger">
                        <div ng-message="required && contatoForm.$dirty">
                            Por favor, preencha o telefone!
                        </div>
                        <div ng-message="pattern">
                            O telefone deve ter o formato DDDDD-DDDD!
                        </div>
                    </div>
                    <!--<select class="form-control" ng-model="contato.operadora" ng-options="operadora.codigo as operadora.nome for operadora in operadoras">
                        <option value="">Selecione uma operadora</option>
                    </select> Segunda forma do Options: nesta eu so passo o value-->
                    <!--<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
                        <option value="">Selecione uma operadora</option>
                    </select> Terceira forma: categorizando-->
                    <!--<button class="btn btn-primary btn-block" ng-click="addContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>-->
                    <button class="btn btn-primary btn-block" ng-click="addContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
                    <!--<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-disabled="!isContatosSelecionados(contatos)">Apagar Contatos</button>-->
                    <!--<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-show="isContatosSelecionados(contatos)">Apagar Contatos</button>-->
                    <!--<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-hide="!isContatosSelecionados(contatos)">Apagar Contatos</button>-->
                    <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="isContatosSelecionados(contatos)">Apagar Contatos</button>
                </div>
            </center>
        </div>
        <div ng-include="'view/footer.html'"></div>
    </body>
</html>